* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    display:flex ;
    justify-content: center;
    align-items: center;
    height:100vh;
    
}
.sun{
    height:400px ;
    width: 400px;
    background-color: orange;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px red;
}
