*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    margin-bottom: 50px;
    color: rgb(104, 104, 254);
   
}
body{
    background-color: rgb(224, 226, 227);
    display: flex ; 
    justify-content: center ; 
    align-items:center ; 
    height: 100vh ;
    box-sizing: border-box;

}
.box{
    height: 400px; 
    width: 400px ; 
    background-color: white;
    padding:60px ; 
    border-radius: 10px ;
    
}
label{
    font-size: 35px; 
    font-weight:600 ;
    margin-bottom:5px ; 
}
input{
    height:25px ; 
    margin-bottom:20px ; 
    width: 100%;
    padding: 5px ; 
    border-radius: 5px; 
    font-size: 16px;
}