 /* .container{
      display: flex ; 
    justify-content: space-between; 
    align-items: center;
 }
.box{
    height: 100px;
    width:100px ;
  
}
.first{
    background: red;

}
.second{
    background: blue;
}
.third{
    background-color: aqua;
}
.fourth{
    background: green ; 
} */