*{
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
}
body{
    background: #0a0a0a;
    display: flex ;
    justify-content: center;
    padding-top: 20px;
}
.container{
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.129) ;
    font-size: 40px;
    padding: 10px;
    color: white;
    width:70% ;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;

}
p{
    background-color: rgba(219, 221, 221, 0.048);
    animation-name: moving;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /* animation-delay: 5s; */
}
@keyframes moving {
   from {
    /* transform: translateX(-100%); */
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}