*{
    margin:0 ; 
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height:100vh ; 
    display:flex ; 
    justify-content: center;
    align-items: center;
}
.container{
    height:700px ; 
    width:700px ; 
    display: grid; 
    grid-template-rows: repeat(8,1fr); 
    grid-template-columns: repeat(8 ,1fr);
}
.white{
    background-color: white;
}
.brown{
    background-color: brown;
}
