*{
    margin:0 ; 
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-size: 20px;
}
.container{
    height: 800px ; 
    width : 800px ; 
    display:grid ; 
    grid-template-rows: 1fr 2fr  2fr 1fr;
    grid-template-columns:  1fr 1fr 1fr  ;
    gap:20px ; 
    padding:5px ;
}
.box{
    background-color: rgb(57, 57, 221);
}
.header{
    grid-column-start: 1;
    grid-column-end: 4;

}
.sidebar{
    grid-row-start: 2;
    grid-row-end: 4 ;
}
.content1{
    grid-column:2/4; 
     /* shorthand 2 to 4  */
   
}
.content2{
     grid-column:2/3 ;
 
}
.content3{
   grid-column: 3/4;
}
.footer{
    grid-column: 1/4;

}
