*{
    margin:0 ; 
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-size: 20px;
   
}
.container{
    height: 500px ; 
    width : 500px ; 
    display:grid ; 
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap:20px ; 
    padding:5px ;
}
.box{
    background-color: aquamarine;
}
.first{
    grid-row:1/4 ;
}
.second{
    grid-column: 2/4;
}
/* .third{
    grid-column: 4/5;
}
.fourth{
    grid-column: 2/3;
}
.five{
    grid-column: 3/4;
} */
.six{
    grid-row: 2/4;
    grid-column:4/5 ;
}
/* .seven{
    grid-column: 2/3;
}
.eight{
    grid-column: 3/4;
} */