*{
    margin:0 ; 
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-size: 20px;
   
}
.container{
    
    height: 700px ; 
    width : 700px ; 
    display:grid ; 
    grid-template-rows: 1fr 0.5fr  0.5fr 1fr;
    grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr  ;
    gap:10px ; 
    padding:5px ;

}
.box{
    background-color: blueviolet;
}
.first{
    grid-row: 1/3;
    grid-column: 1/2;
    background-color: brown;
}
.second{
    grid-column: 2/4;
    background-color: aqua;

}
.third{
      grid-column: 4/6;
      background-color: bisque;
}
.fourth{
    grid-row: 3/5;
      grid-column: 1/2;
      background-color: white;

}
.five{
     grid-column: 2/3;
      grid-row: 2/4;
       background-color: bisque;


}
.six{
  grid-column: 3/5;
      grid-row: 2/4;
        background-color: white;

}
.seven{
      grid-column: 5/6;
      grid-row: 2/5 ;
       background-color: brown;

}
.eight{
     grid-column: 2/4;
       grid-row: 4/5;
        background-color: brown;

}
.nine{
    background-color: aqua;
}

