* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display:flex ;
    justify-content: center;
    align-items: center;
    height:100vh;
}
.box{
    height:400px ;
    width: 400px;
    background-color: red;
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}
@keyframes move {
    from{
       transform: rotate(0deg);
    }
    to{
        transform:rotate(360deg);

    }
    
}